#mytitle {
  color: blue;
}

#container {
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

#specialties-container {
  background-color: yellow;
}

#deals-container {
  background-color: lightgreen;
}

#business-image {
  width: 250px;
  height: 250px;
}

#contact-container {
  background-color: lightgrey;
  text-align: center;
  margin-bottom: 25px;
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: blue;
  display: flex;
}

.navbar-link {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#truck-image {
  width: 500px;
  height: 250px;
}

#great-grandfather-image {
  width: 200px;
  height: 300px;
}